<div class="container"><h1 class="jumbotron">Hello World!</h1></div>

<script type="text/javascript">
$( document ).ready(function() {
	$(function() {
	    var BV = new $.BigVideo();
	    BV.init();
	    BV.show('https://player.vimeo.com/video/117270012');
	});
});
</script>

<!-- <iframe src="https://player.vimeo.com/video/117270012" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="https://vimeo.com/117270012">Timelapse of Oxford</a> from <a href="https://vimeo.com/user12870392">Spires Media</a> on <a href="https://vimeo.com">Vimeo</a>.</p> -->